/* fontawesome cdn  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@500;600;700;800&display=swap');

/* */

/* Default css  */
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
body{
    font-family: 'Work Sans', sans-serif; 
}

.btn{
    background-color: #FF900E;
    padding: 10px 15px;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 10px;
   
}

.default-color{
    color: #FF900E;
}
.another-color{
    color: gray;
}

/* Header section css start */
.header-section{
    background-color: #FF900E1A;
    height: 1050px;
    padding: 20px;

    
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.header-logo{
    width: 50%;
}
.menu{
    width: 50%;
}
.menu ul{
    display: flex;
    justify-content: space-evenly;
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

/* Banner section */
.banner-content-section {
    padding: 50px 0px;
}
.banner-section{
    margin-top: 80px;
}
.banner-content{
    text-align: center;
    width: 758px;
    height: 200px;
    margin: auto;
}
.banner-content h1{
    margin-bottom: 10px;
    font-size: 60px;
}
.banner-content p{
    line-height: 1.5em;
    margin-bottom: 15px;
}

.banner-img img{
    width: 100%;
    margin-top: 50px;
}

/* Feature section */
.features-section{
    padding: 70px 0px;
}
.features-content{
    display: flex;
    gap: 50px;
    align-items: center;
}
.feature-right-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.feature-right-content img{
    width: 100%;
}
.feature-left-content{
    width: 50%;
}
.feature-left-content h1{
    font-size: 45px;
    margin-bottom: 10px;
}
.feature-left-content p{
    line-height: 1.5em;
    margin-bottom: 10px;
}

/* Love and enjoy section */
.love-and-enjoy-section{
    padding: 80px 0px;
}
.love-and-enjoy-container{
    display: flex;
    gap: 30px;
}
.basic-info{
   width: 470px;
}
.basic-info h1{
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid orange;
    margin-bottom: 15px;
    padding: 0px 15px;
}
.basic-info p{
    line-height: 1.5em;
    margin-bottom: 15px;
}
.love-and-enjoy-left-content{
    width: 45%;
}
.service{
    width: 450px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 7px;
}
.service h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.service p{
    line-height: 26px;
}
.love-and-enjoy-right-content{
    width: 50%;
}
.love-and-enjoy-right-content img{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
}
.experiance-info{
    text-align: center;
    background-color: orange;
    width: 200px;
    margin: auto;
    border-radius: 7px;
    padding: 20px 20px;
    color: white;
    margin-top: -90px;
    z-index: 1;
    position: relative;
    left: 55px;
}
.experiance-info h1{
    font-size: 50px;
}

/* Facts information section */
.someFact-section{
    padding: 70px 0px;
}
.facts-title{
    width: 450px;
    margin-bottom: 70px;
}
.facts-title h2{
    font-size: 45px;
    font-weight: 700;
}
.facts-info-container{
    display: flex;
    justify-content: space-evenly;
}
.fact-info{
    border: 1px solid orange;
    padding: 20px;
    text-align: center;
    width: 140px;
    height: auto;
    border-radius: 7px;
}
.fact-info img, h2, p{
    margin-bottom: 10px;
}


/* sopnsor section */
.sponsor-section{
    padding: 70px 0px;
}
.sponsor-details{
    width: 500px;
    margin: auto;
}
.sponsor-title{
    text-align: center;
    margin-bottom: 50px;
}
.sponsor-title h2{
    font-size: 45px;
    font-weight: 700;
}

.sponsor-agence{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsor-agence img{
    width: 100px;
    height: auto;
}

/* Footer section */
.footer-section{
    padding: 70px 0px;
}

.footer-content{
    text-align: center;
    background-color: #FF900E1A;
    padding: 30px;
    font-size: 20px;
    border-radius: 8px;
}